<div class="top">
<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= link_to 'Мои клиенты', clients_path%>
    </div>
    <div class="col-sm">
      Мои товары
    </div>
    <div class="col-sm">
      Мои заказы
    </div>
    <div class="col-sm">
      Интеграция с inSales
    </div>
    
    <div class="col-sm">
      Личный кабинет
    </div>
  </div>
</div>
</div>
