<div class="top">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="<%= clients_path %>">Мои клиенты</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Мои товары</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Мои заказы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Интеграция с inSales</a>
  </li>
</ul>
</div>
